.add-note{
    background-color: rgb(252, 185, 185);
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2%;

    input{
        height:8vh;
        width:40vw;
        border-radius: 5px;
        border: 0;
        padding-left: 4px;
    }

    button{
        height: 8vh;
        width: 20vw;
        border-radius: 5px;
        border: 0;
        color: aliceblue;
        background-color: rgb(253, 70, 70);
        font-weight: bold;
        font-size: 1rem;
        cursor: pointer;

        &:hover{
            background-color: red;
        }
    }
}
.display-note{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div{
        background-color: rgb(103, 103, 103);
        color:white;
        margin:2px;
        width:98%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        padding:2%;
        margin:1%;
        gap:1%;

        p{
            overflow-y: auto;
            margin-left: 1%;
        }

        .control{
            display: flex;
            margin-right: 1%;
            min-width:30%;
            max-width: 30%;
            background-color:black ;
            
            button{
                min-width:40%;
                border: none;
                color: white;
                border-radius: 5px;
                cursor: pointer;
                height: 5vh;
            }

            .edit{
                background: blue;
                font-weight: bold;
                padding: 2%;
                
            }
            
            .delete{
                min-width:40%;
                background: rgb(254, 75, 75);
                border: none;
                color: white;
                border-radius: 5px;
                cursor: pointer;

                &:hover{
                    background: red;
                }
            }
        }
    }
}