.edit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height:50vh;

    gap:10%;

    input{
        height: 8vh;
        width: 80%;
        border-radius: 10px;
    }
    button{
        height: 8vh;
        width: 20vw;
        border-radius: 5px;
        border: 0;
        color: aliceblue;
        background-color: rgb(96, 101, 251);
        font-weight: bold;
        font-size: 1rem;
        cursor: pointer;

        &:hover{
            background-color: blue;
        }
    }
}